/* body style */
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightslategray;
}

/* container stlye */
.container {
    width: 800px;
    max-width: 80%;
    background-color: lightseagreen;
    padding: 10px;
    border-radius: 5px; 
}

/* add header style */
header {
    display: flex;
    justify-content: space-between;
}

/* button style */
.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.button {
    background-color: cornflowerblue;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.button.hover {
    border-color:black;
}

/* controls */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* score */
#score {
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

/* hide class */
.hide {
    display: none;
}

/* correct */
.button.correct {
    background-color: green;
}

/* wrong */
.button.wrong {
    background-color: red;
}